@charset "utf-8";
/* CSS Document */ :root {
  --primary-clr: #343a40;
  --secondary-clr: greenyellow;
  --notes-clr: #ffd557;
  --events-clr: #007bff;
}
* {
  margin: 0;
  padding: 0;
  border-width: 0;
  text-align: center;
}
html, body {
  height: 100vh;
}
#mainContainer, #mainContainer tr {
  background: white;
  width: 100%;
  height: calc(100% - 9%);
}
.bigText {
  font-size: 30px;
}
.smallText {
  font-size: 25px;
  color: #979797;
}
hr {
  margin: 5px 0;
  margin-left: 15%;
  height: 1px;
  width: 70%;
  color: gray;
  background: gray;
}
.bigHr {
  margin: 4px 0;
  margin-left: 5%;
  height: 2px;
  width: 90%;
  background-color: var(--primary-clr);
}
.pHeader {
  font-size: 40px;
  padding: 1%;
  font-weight: 100;
}
.flexContainer {
  height: 100%;
  width: 100%;
  display: inline-block;
  vertical-align: top;
  max-height: 82vh;
  overflow: hidden;
}
.scrollContainer {
  width: 100%;
  max-height: 70vh;
  overflow: auto;
  scroll-behavior: smooth;
  transition: scroll-behavior 0.15s ease-in-out;
  word-wrap: break-word;
  word-break: break-word;
}
.addButtons {
  height: 5%;
}
/* --------------------Navbar-------------------- */
#Navbar {
  z-index: 100;
  width: 100%;
  height: 9%;
  text-align: center;
  background: #343a40;
  min-height: 50px;
}
#Navbar .button {
  color: white;
  text-transform: uppercase;
  margin: 0;
  margin-top: -5px;
}
#Navbar #logout {
  border: 1px solid #28a745;
  border-radius: 5px;
  padding: 8px 15px;
  text-decoration: none;
  font-size: 14px;
  color: #28a745;
  cursor: pointer;
  background: var(--primary-clr);
  transition-duration: 0.2s;
}
#Navbar #logout:hover {
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .10);
  color: white;
}
#Navbar #logout:active {
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .25);
  color: white;
}
/* --------------------/Navbar-------------------- */
/* --------------------Upcoming Events-------------------- */
#currentEvents {
  width: 30vw;
  max-width: 30vw;
  vertical-align: top;
}
.eventDay {
  margin: 3%;
  padding: 0 5%;
  padding-bottom: 5%;
  border-radius: 2px;
}
.eventDate {
  margin-top: 10px;
  font-size: 20px;
}
.upcomingEvent {
  margin-top: 15px;
  border-radius: 2px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  transition-duration: 0.2s;
  border-radius: 5px;
  cursor: pointer;
}
.upcomingEvent:hover {
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .10);
}
.upcomingEvent:active {
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .25);
}
.smallHr {
  margin-top: 0;
  margin-bottom: 0;
}
.title {
  text-align: center;
  margin-top: 10px;
}
.eventTitle {
  font-weight: bold;
  max-height: 1.5rem;
  overflow: hidden;
  margin: 0;
}
.eventTime{
	font-weight: bold;
	margin-bottom: -5px;
}
.eventsButton {
  margin-top: 5px;
  padding: 5px 10px;
  border: 1px solid var(--events-clr);
  border-radius: 5px;
  background-color: var(--events-clr);
  cursor: pointer;
  color: white;
  text-decoration: none;
  transition-duration: 0.2s;
}
.eventsButton:hover {
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .10);
  text-decoration: none;
}
.eventsButton:active {
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .25);
}
#currentEvents .bigHr {
  background-color: var(--events-clr);
}
/* --------------------/Upcoming Events-------------------- */
/* --------------------Calendar-------------------- */
#calendar {
  width: 40%;
  vertical-align: top;
  border-right: 2px solid var(--notes-clr);
  border-left: 2px solid var(--events-clr);
}
/* --------------------/Calendar-------------------- */
/* --------------------Notes-------------------- */
#notes {
  width: 30vw;
  max-width: 30vw;
  vertical-align: top;
}
#notesContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.note {
  background: var(--notes-clr);
  color: black;
  width: 40%;
  max-width: 40%;
  height: 0;
  padding: 5px;
  padding-bottom: 40%;
  border-radius: 5px;
  margin-bottom: 10px;
  text-align: left;
  overflow: hidden;
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  word-wrap: break-word;
  word-break: break-word;
}
.note:hover {
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .10);
}
.note:active {
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .25);
}
#notesButton {
  margin-top: 5px;
  padding: 5px 10px;
  border: 1px solid var(--notes-clr);
  border-radius: 5px;
  background-color: var(--notes-clr);
  cursor: pointer;
  color: var(--primary-clr);
  transition-duration: 0.2s;
}
#notesButton:hover {
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .10);
}
#notesButton:active {
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .25);
}
.noteTitle {
  text-align: left;
  font-size: 20px;
  padding: 7px 5px 3px 5px;
  white-space: nowrap;
  overflow: hidden;
}
.noteText {
  padding: 7px;
  text-align: left;
  font-size: 15px;
}
#notes .bigHr {
  background-color: var(--notes-clr);
}
/* --------------------/Notes-------------------- */
/* --------------------Overlay-------------------- */
.overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlayMainDiv {
  z-index: 100;
  background: white;
  border: 2px solid #D8D8D8;
  border-radius: 5px;
  min-width: 350px;
}
.overlayMainDiv .smallText {
  padding: 10px 0;
  color: var(--primary-clr);
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.overlay .bigHr {
  margin-left: 10%;
  width: 80%;
}
.form-group {
  margin: 3%;
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.formEntry {
  width: 80%;
  background: white;
  padding: 3%;
  border: 0.5px solid lightgray;
  border-radius: 5px;
  text-align: left;
  font-size: 15px;
  margin-bottom: 10px;
}
label {
  font-size: 18px;
  width: 100%;
}
.buttonDiv {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
}
.overlayButton {
  padding: 10px 15px;
  margin: 5px 3%;
  color: white;
  border-radius: 5px;
  font-size: 15px;
}
.submitBtn {
  background: var(--events-clr);
  transition-duration: 0.2s;
}
.cancelBtn {
  background: #dc3545;
  transition-duration: 0.2s;
}
.submitBtn:hover {
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .10);
}
.cancelBtn:hover {
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .10);
}
.submitBtn:active {
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .25);
}
.cancelBtn:active {
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .25);
}
.noteBtn {
  background: var(--notes-clr);
  color: var(--primary-clr);
  transition-duration: 0.2s;
}
.noteBtn:hover {
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .10);
}
.noteBtn:active {
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .25);
}
.notLogout {
  background: #28a745;
  transition-duration: 0.2s;
}
.notLogout:hover {
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .10);
}
.notLogout:active {
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .25);
}
#addNewEventOverlay hr, #viewEventOverlay hr {
  background: var(--events-clr);
}
#addNewNoteOverlay hr, #viewNoteOverlay hr {
  background: var(--notes-clr);
}
#addNewEventOverlay textarea, #viewEventOverlay textarea {
  margin: 0;
  resize: none;
}
#addNewNoteOverlay textarea, #viewNoteOverlay textarea {
  margin: 0;
  max-height: 32vh;
  width: 30vw;
  min-width: 270px;
}
#addNewNoteOverlay .overlayMainDiv, #viewNoteOverlay .overlayMainDiv {
  width: 35vw;
}
/* --------------------/Overlay-------------------- */
/* --------------------Auth-------------------- */
#auth {
  background: white;
}
#auth .overlayMainDiv {
  border: none;
  width: 30%;
  min-width: 450px;
}
#auth label {
  font-size: 15px;
  width: 85%;
}
.loginBtn {
  background: white;
  text-decoration: underline;
  border: none;
  color: blue;
  transition-duration: 0.2s;
}
.errorText {
  color: red;
  font-size: 12px;
  margin-bottom: 0;
}
/* --------------------/Auth-------------------- */
/* width */ ::-webkit-scrollbar {
  width: 10px;
}
/* Track */ ::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Handle */ ::-webkit-scrollbar-thumb {
  background: #888;
}
/* Handle on hover */ ::-webkit-scrollbar-thumb:hover {
  background: #555;
}