@charset "utf-8";

:root {
  --primary-clr: #343a40;
  --secondary-clr: greenyellow;
  --notes-clr: #ffd557;
  --events-clr: #007bff;
}

* {
  margin: 0;
  padding: 0;
  border-width: 0;
  text-align: center;
}

html,
body {
  height: 100vh;
}

#main-container,
#main-container tr {
  background: white;
  width: 100%;
  height: calc(100% - 9%);
}

.big-text {
  font-size: 30px;
}

.small-text {
  font-size: 25px;
  color: #979797;
}

hr {
  margin: 5px 0;
  margin-left: 15%;
  height: 1px;
  width: 70%;
  color: gray;
  background: gray;
}

.big-hr {
  margin: 4px 0;
  margin-left: 5%;
  height: 2px;
  width: 90%;
  background-color: var(--primary-clr);
}

.p-header {
  font-size: 40px;
  padding: 1%;
  font-weight: 100;
}

.flex-container {
  height: 100%;
  width: 100%;
  display: inline-block;
  vertical-align: top;
  max-height: 82vh;
  overflow: hidden;
}

.scroll-container {
  width: 100%;
  max-height: 70vh;
  overflow: auto;
  scroll-behavior: smooth;
  transition: scroll-behavior 0.15s ease-in-out;
  word-wrap: break-word;
  word-break: break-word;
}

.add-buttons {
  height: 5%;
}

/* --------------------Navbar-------------------- */
#navbar {
  z-index: 100;
  width: 100%;
  height: 9%;
  text-align: center;
  background: #343a40;
  min-height: 50px;
}

#navbar .button {
  color: white;
  text-transform: uppercase;
  margin: 0 15px;
  margin-top: -5px;
}

#navbar #logout {
  border: 1px solid #28a745;
  border-radius: 5px;
  padding: 8px 15px;
  text-decoration: none;
  font-size: 14px;
  color: #28a745;
  cursor: pointer;
  background: var(--primary-clr);
  transition-duration: 0.2s;
}

#navbar #logout:hover {
  box-shadow: inset 0 0 0 1000px rgb(0 0 0 / 10%);
  color: white;
}

#navbar #logout:active {
  box-shadow: inset 0 0 0 1000px rgb(0 0 0 / 25%);
  color: white;
}

.profile-btn {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  outline: none;
}

.profile-btn button {
  background: var(--primary-clr);
  color: white;
  margin: 0 15px;
  outline: none;
  border: none;
  transition-duration: 0.2s;
}

.profile-btn button:hover {
  color: rgba(255 255 255 / 70%);
  outline: none;
}

.profile-btn button:active {
  color: rgba(255 255 255 / 55%);
  outline: none;
}

#profile-span {
  height: 5vh;
  width: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  background: #d6d6d6;
  border-radius: 4vh;
  text-transform: uppercase;
}

/* --------------------/Navbar-------------------- */

/* --------------------Overlay-------------------- */
.overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0 0 0 / 50%);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-main-div {
  z-index: 100;
  background: white;
  border: 2px solid #d8d8d8;
  border-radius: 5px;
  min-width: 350px;
}

.overlay-main-div .small-text {
  padding: 10px 0;
  color: var(--primary-clr);
  font-weight: 500;
  font-family: "Roboto", "Arial", sans-serif;
}

.overlay .big-hr {
  margin-left: 10%;
  width: 80%;
}

.form-group {
  margin: 3%;
  font-size: 18px;
  font-family: "Roboto", "Arial", sans-serif;
}

.form-entry {
  width: 80%;
  background: white;
  padding: 3%;
  border: 0.5px solid lightgray;
  border-radius: 5px;
  text-align: left;
  font-size: 15px;
  margin-bottom: 10px;
}

label {
  font-size: 18px;
  width: 100%;
}

.button-div {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
}

.overlay-button {
  padding: 10px 15px;
  margin: 5px 3%;
  color: white;
  border-radius: 5px;
  font-size: 15px;
}

.submit-btn {
  background: var(--events-clr);
  transition-duration: 0.2s;
}

.cancel-btn {
  background: #dc3545;
  transition-duration: 0.2s;
}

.submit-btn:hover {
  box-shadow: inset 0 0 0 1000px rgba(0 0 0 / 10%);
}

.cancel-btn:hover {
  box-shadow: inset 0 0 0 1000px rgba(0 0 0 / 10%);
}

.submit-btn:active {
  box-shadow: inset 0 0 0 1000px rgba(0 0 0 / 25%);
}

.cancel-btn:active {
  box-shadow: inset 0 0 0 1000px rgba(0 0 0 / 25%);
}

.note-btn {
  background: var(--notes-clr);
  color: var(--primary-clr);
  transition-duration: 0.2s;
}

.note-btn:hover {
  box-shadow: inset 0 0 0 1000px rgba(0 0 0 / 10%);
}

.note-btn:active {
  box-shadow: inset 0 0 0 1000px rgba(0 0 0 / 25%);
}

.not-logout {
  background: #28a745;
  transition-duration: 0.2s;
}

.not-logout:hover {
  box-shadow: inset 0 0 0 1000px rgba(0 0 0 / 10%);
}

.not-logout:active {
  box-shadow: inset 0 0 0 1000px rgba(0 0 0 / 25%);
}

#add-new-event-overlay hr,
#view-event-overlay hr {
  background: var(--events-clr);
}

#add-new-event-overlay hr,
#view-note-overlay hr {
  background: var(--notes-clr);
}

#add-new-event-overlay textarea,
#view-event-overlay textarea {
  margin: 0;
  resize: none;
}

#add-new-note-overlay textarea,
#view-note-overlay textarea {
  margin: 0;
  max-height: 32vh;
  width: 30vw;
  min-width: 270px;
}

#add-new-note-overlay .overlay-main-div,
#view-note-overlay .overlay-main-div {
  width: 35vw;
}

#yes-checklist,
#yes-checklist-update {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-checkitem-btn {
  width: 50%;
}

.checklist-scroll-container {
  min-width: 90%;
  max-width: 90%;
  max-height: 30vh;
  margin: 15px 10%;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
  transition: scroll-behavior 0.15s ease-in-out;
  display: flex;
  flex-direction: column;
}

.checklist-scroll-container .checkitem {
  display: flex;
  font-weight: normal;
  align-items: baseline;
  word-wrap: break-all;
  word-break: break-all;
  width: 100%;
}

.checkitem .form-entry {
  min-height: 2.3em;
  max-height: 2.3em;
  width: 70%;
  margin: 5px;
  overflow: hidden;
  margin-left: 3%;
}

.checkitem .cancel-btn {
  padding: 0 10px;
  margin: 5px 3%;
  width: 20%;
  min-width: 5em;
  height: 2em;
}

/* --------------------/Overlay-------------------- */

/* --------------------Upcoming Events-------------------- */
#current-events {
  width: 30vw;
  max-width: 30vw;
  vertical-align: top;
}

.event-day {
  margin: 3%;
  padding: 0 5%;
  padding-bottom: 5%;
  border-radius: 2px;
}

.event-date {
  margin-top: 10px;
  font-size: 20px;
}

.upcoming-event {
  margin-top: 15px;
  border-radius: 2px;
  font-family: "Roboto", "Arial", sans-serif;
  transition-duration: 0.2s;
  cursor: pointer;
}

.upcoming-event:hover {
  box-shadow: inset 0 0 0 1000px rgba(0 0 0 / 10%);
}

.upcoming-event:active {
  box-shadow: inset 0 0 0 1000px rgba(0 0 0 / 25%);
}

.small-hr {
  margin-top: 0;
  margin-bottom: 0;
}

.title {
  text-align: center;
  margin-top: 10px;
}

.event-title {
  font-weight: bold;
  max-height: 1.5rem;
  overflow: hidden;
  margin: 0;
}

.event-time {
  font-weight: bold;
  margin-bottom: -5px;
}

.events-button {
  margin-top: 5px;
  padding: 5px 10px;
  border: 1px solid var(--events-clr);
  border-radius: 5px;
  background-color: var(--events-clr);
  cursor: pointer;
  color: white;
  text-decoration: none;
  transition-duration: 0.2s;
}

.events-button:hover {
  box-shadow: inset 0 0 0 1000px rgba(0 0 0 / 10%);
  text-decoration: none;
}

.events-button:active {
  box-shadow: inset 0 0 0 1000px rgba(0 0 0 / 25%);
}

#current-events .big-hr {
  background-color: var(--events-clr);
}

/* --------------------/Upcoming Events-------------------- */

/* --------------------Calendar-------------------- */
#calendar {
  width: 40%;
  vertical-align: top;
  border-right: 2px solid var(--notes-clr);
  border-left: 2px solid var(--events-clr);
}

/* --------------------/Calendar-------------------- */

/* --------------------Notes-------------------- */
#notes {
  width: 30vw;
  max-width: 30vw;
  vertical-align: top;
}

#notes-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.note {
  background: var(--notes-clr);
  color: black;
  width: 40%;
  max-width: 40%;
  height: 0;
  padding: 5px;
  padding-bottom: 40%;
  border-radius: 5px;
  margin-bottom: 10px;
  text-align: left;
  overflow: hidden;
  cursor: pointer;
  font-family: "Roboto", "Arial", sans-serif;
  word-wrap: break-word;
  word-break: break-word;
}

.note:hover {
  box-shadow: inset 0 0 0 1000px rgba(0 0 0 / 10%);
}

.note:active {
  box-shadow: inset 0 0 0 1000px rgba(0 0 0 / 25%);
}

#notes-button {
  margin-top: 5px;
  padding: 5px 10px;
  border: 1px solid var(--notes-clr);
  border-radius: 5px;
  background-color: var(--notes-clr);
  cursor: pointer;
  color: var(--primary-clr);
  transition-duration: 0.2s;
}

#notes-button:hover {
  box-shadow: inset 0 0 0 1000px rgba(0 0 0 / 10%);
}

#notes-button:active {
  box-shadow: inset 0 0 0 1000px rgba(0 0 0 / 25%);
}

.note-title {
  text-align: left;
  font-size: 20px;
  padding: 7px 5px;
  margin-bottom: 0;
  white-space: nowrap;
  overflow: hidden;
}

.note-text {
  padding: 7px;
  text-align: left;
  font-size: 15px;
}

.note-checkitem {
  display: flex;
  padding-left: 7px;
}

.note-text-checkitem {
  text-align: left;
  font-size: 15px;
  margin: 0 0 5px 7px;
}

#notes .big-hr {
  background-color: var(--notes-clr);
}

/* --------------------/Notes-------------------- */

/* --------------------Auth-------------------- */
#auth {
  background: white;
}

#auth .overlay-main-div {
  border: none;
  width: 30%;
  min-width: 450px;
}

#auth label {
  font-size: 15px;
  width: 85%;
}

.login-btn {
  background: white;
  text-decoration: underline;
  border: none;
  color: blue;
  transition-duration: 0.2s;
}

.error-text {
  color: red;
  font-size: 12px;
  margin-bottom: 0;
  margin-top: -15px;
}

#nice-error-text {
  color: black;
  margin-top: -15px;
}

.eye {
  margin-left: -35px;
  cursor: pointer;
  transition-duration: 0.2s;
  padding: 5px;
  border-radius: 3px;
}

.eye:hover {
  box-shadow: inset 0 0 0 1000px rgba(0 0 0 / 10%);
}

.eye:active {
  box-shadow: inset 0 0 0 1000px rgba(0 0 0 / 25%);
}

/* --------------------/Auth-------------------- */

/* --------------------Profile-------------------- */
#profile-main-container {
  background: white;
  width: 100%;
  height: calc(100% - 9%);
}

#profile-main-container .small-text {
  color: var(--primary-clr);
  font-weight: 100;
  font-size: 35px;
  padding-top: 15px;
}

#profile-main-container .p-header {
  text-align: left;
  padding-left: 20%;
  font-size: 20px;
  font-weight: bold;
}

#profile-main-container .pr {
  text-align: left;
  padding-left: 20%;
  display: flex;
  max-width: 700px;
}

#profile-main-container label,
#profile-main-container input[type="radio"],
#profile-main-container input[type="checkbox"] {
  text-align: left;
  margin-bottom: 5px;
  font-size: inherit;
}

#update-preferences {
  display: flex;
  flex-direction: column;
}

#update-preferences .submit-btn {
  width: 160px;
  margin-left: 20%;
}

/* --------------------/Profile-------------------- */

/* width */ ::-webkit-scrollbar {
  width: 10px;
}

/* Track */ ::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */ ::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */ ::-webkit-scrollbar-thumb:hover {
  background: #555;
}
