<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>NotePlan</title>

<!--stylesheet-->
<link rel="stylesheet" href="css/stylesheet.css">

<!--Bootstrap4-->
<link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!--color picker--> 
<script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
</script> 
<script src = "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js">
</script> 
<script src = "https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js">
</script> 
<script src = "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/3.2.0/js/bootstrap-colorpicker.js" > </script> 
<script src = "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/3.2.0/js/bootstrap-colorpicker.min.js" > </script>
<link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/3.2.0/css/bootstrap-colorpicker.min.css"/>
<link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/3.2.0/css/bootstrap-colorpicker.css"/>

<!--semantic calendar-->
<link rel = "stylesheet" href = "css/calendarStyleSheet.css"/>
<link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
  integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"/>

<!--dark mode stylesheet-->
<link rel="stylesheet" href="css/darkModeStylesheet.css" th:disabled="${theme == 'Light'}">
</head>

<body>
<!--Navbar-->
<table id="Navbar">
  <tr>
    <td class="Btn" style="width:20%; font-size: 25px;"><form action="dashboard" method="get">
        <input type="hidden" name="csrf" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <button type="submit" class="button" style="background: none; outline: none;"> NotePlan </button>
      </form></td>
    <td class="Btn" style="width:5%;"><p class="button">Dashboard </p></td>
    <td class="Btn" style="width:53%;"></td>
    <td class="Btn" style="width:9%;"><a class="button" id="logout" onClick="loadLogoutOverlay()"> Logout </a></td>
    <td class="Btn" style="width:13%;"><form action="profile" method="get">
        <input type="hidden" name="csrf" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <button type="submit" class="profileBtn"> Andrei Bertescu &nbsp;&nbsp;<span id="profileSpan">AB</span></button>
      </form></td>
  </tr>
</table>

<!--mainContainer-->
<table id="mainContainer">
  <tr> 
    <!--events-->
    <td id="currentEvents"><div class="flexContainer">
        <p class="pHeader">Upcoming events</p>
        <hr class="bigHr">
        <form id="eventsForm" th:action="@{/dashboard}" method="post">
          <input type="hidden" name="csrf" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
          <div class="scrollContainer">
            <div class="eventDay" th:each="bigEvent: ${events}">
              <hr class="bigHr">
              <p class="eventDate" th:text="${bigEvent.date}">2023-09-08</p>
              <div class="upcomingEvent" th:each="event: ${bigEvent.events}" th:onClick="|showEvent(${event.id})|">
                <hr class="smallHr" th:style="|background-color: ${event.color};|">
                <div class="title">
                  <p class="eventTitle" th:text="${event.title}">Title 1</p>
                  <p class="eventTime" th:text="|-${event.date}-|">20:17</p>
                </div>
                <p class="eventDescription" th:text="${event.description}">A description</p>
                <hr class="smallHr" th:style="|background-color: ${event.color};|">
              </div>
            </div>
          </div>
        </form>
      </div>
      
      <!--eventsButton-->
      
      <div  class="addButtons">
        <hr class="bigHr">
        <button class="eventsButton" onClick="loadAddNewEventOverlay()">Add new event</button>
      </div></td>
    <!--/events--> 
    <!--calendar-->
    <td id="calendar"><div class="left">
        <div class="calendar">
          <div class="month"> <i class="fas fa-angle-left prev"></i>
            <div class="date">december 2015</div>
            <i class="fas fa-angle-right next"></i> </div>
          <div class="weekdays">
            <div>Sun</div>
            <div>Mon</div>
            <div>Tue</div>
            <div>Wed</div>
            <div>Thu</div>
            <div>Fri</div>
            <div>Sat</div>
          </div>
          <div class="days"></div>
          <div class="goto-today">
            <div class="goto">
              <input type="text" name="goto" placeholder="mm/yyyy" class="date-input" />
              <button class="goto-btn">Go</button>
            </div>
            <button class="today-btn">Today</button>
          </div>
        </div>
      </div>
      
      <!--/calendar--></td>
    <!--notes-->
    <td id="notes"><div class="flexContainer">
        <p class="pHeader">Notes</p>
        <hr class="bigHr">
        <form id="notesForm" th:action="@{/dashboard}" method="post">
          <input type="hidden" name="csrf" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
          <div class="scrollContainer">
            <div id="notesContainer">
              <div class="note" th:each="note: ${notes}" th:onClick="|showNote(${note.id})|">
                <p class="noteTitle" th:text="${note.title}">A title</p>
                <p class="noteText" th:text="${note.text}">Some text</p>
              </div>
            </div>
          </div>
        </form>
      </div>
      
      <!--notesButton-->
      
      <div class="addButtons">
        <hr class="bigHr">
        <button id="notesButton" onClick="loadAddNewNoteOverlay()">Add new note</button>
      </div></td>
    <!--/notes--> 
  </tr>
</table>

<!--addNewEventOverlay-->
<div class="overlay" id="addNewEventOverlay" style="display: none;">
  <div class="overlayMainDiv">
    <p class="smallText">Add a new event</p>
    <hr class="bigHr">
    <form th:action="@{/dashboard/saveEvent}" method="post">
      <input type="hidden" name="csrf" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
      <div class="form-group">
        <input class="formEntry" name="title" type="text" maxlength="100" placeholder="Add title" th:field="${event.title}" required>
      </div>
      <div class="form-group">
        <label>Date:
          <input class="formEntry" name="date" style="width: 60%;"  maxlength="50" type="datetime-local" th:field="${event.date}" required>
        </label>
      </div>
      <div class="formGroup">
        <div>
          <label >Color:
            <input id="color-picker" class="formEntry" style="width: 50%;"  maxlength="7" type = "text" autocomplete="off" placeholder = "#000000" th:field="${event.color}"/>
          </label>
        </div>
        <script>
		$(function () {
		$('#color-picker').colorpicker();
		});
		</script> 
      </div>
      <div class="form-group">
        <label>Description
          <textarea class="formEntry" name="description" rows="4" maxlength="1000" th:field="${event.description}"></textarea>
        </label>
      </div>
      <hr class="bigHr">
      <div class="form-group buttonDiv">
        <button type="submit" class="overlayButton submitBtn">Submit</button>
        <button type="button" class="overlayButton cancelBtn" onClick="unloadAddNewEventOverlay()">Close</button>
      </div>
    </form>
  </div>
</div>
<!--/addNewEventOverlay--> 

<!--addNewNoteOverlay-->
<div class="overlay" id="addNewNoteOverlay" style="display: none;">
  <div class="overlayMainDiv">
    <p class="smallText">Add a new note</p>
    <hr class="bigHr">
    <form th:action="@{/dashboard/saveNote}" method="post">
      <input type="hidden" name="csrf" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
      <div class="form-group">
        <input class="formEntry" name="title" type="text" maxlength="100" placeholder="New note" th:field="${note.title}" required>
      </div>
      <div class="form-group">
        <label>Description
          <textarea class="formEntry" name="description" rows="8" maxlength="5000" th:field="${note.text}" required></textarea>
        </label>
      </div>
      <hr class="bigHr">
      <div class="form-group buttonDiv">
        <button type="submit" class="overlayButton noteBtn">Create</button>
        <button type="button" class="overlayButton cancelBtn" onClick="unloadAddNewNoteOverlay()">Close</button>
      </div>
    </form>
  </div>
</div>
<!--/addNewNoteOverlay--> 

<!--logoutOverlay-->
<div class="overlay" id="logoutOverlay" style="display: none;">
  <div class="overlayMainDiv">
    <p class="smallText" style="font-weight: 100;">Are you sure<br>
      you want to log out?</p>
    <hr class="bigHr">
    <div class="form-group">
      <form action="logout" method="post">
        <input type="hidden" name="csrf" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <button type="submit" class="overlayButton cancelBtn">Logout</button>
        <button type="button" class="overlayButton notLogout" onClick="unloadLogoutOverlay()">Cancel</button>
      </form>
    </div>
  </div>
</div>
<!--/logoutOverlay--> 

<!--viewEventOverlay-->
<div class="overlay" id="viewEventOverlay" th:style="${selectedEvent.title == null} ? 'display: none;' : 'display: flex;'">
  <div class="overlayMainDiv">
    <form th:action="@{/dashboard/updateEvent}" id="viewEventOverlayForm" method="post">
      <p class="smallText">Update an event</p>
      <hr class="bigHr">
      <input type="hidden" name="csrf" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
      <div class="form-group">
        <input class="formEntry" name="title" type="text" maxlength="100" placeholder="Add title" th:field="${selectedEvent.title}" required>
      </div>
      <div class="form-group">
        <label>Date:
          <input class="formEntry" name="date" style="width: 60%;"  maxlength="50" type="datetime-local" th:field="${selectedEvent.date}" required>
        </label>
      </div>
      <div class="formGroup">
        <div>
          <label >Color:
            <input id="color-picker2" class="formEntry" style="width: 50%;"  maxlength="7" type = "text" autocomplete="off" placeholder = "#000000" th:field="${selectedEvent.color}"/>
          </label>
        </div>
        <script>
		$(function () {
		$('#color-picker2').colorpicker();
		});
		</script> 
      </div>
      <div class="form-group">
        <label>Description
          <textarea class="formEntry" name="description" rows="4" maxlength="1000" th:field="${selectedEvent.description}"></textarea>
        </label>
      </div>
      <hr class="bigHr">
      <div class="form-group buttonDiv">
        <button type="button" class="overlayButton cancelBtn" onClick="deleteEvent()">Delete</button>
        <button type="button" class="overlayButton submitBtn" onClick="unshowEvent()">Cancel</button>
        <button type="submit" class="overlayButton notLogout">Save</button>
      </div>
    </form>
  </div>
</div>
<!--/viewEventOverlay--> 

<!--viewNoteOverlay-->
<div class="overlay" id="viewNoteOverlay" th:style="${selectedNote.title == null} ? 'display: none;' : 'display: flex;'">
  <div class="overlayMainDiv">
    <form th:action="@{/dashboard/updateNote}" id="viewNoteOverlayForm" method="post">
      <p class="smallText">Edit a note</p>
      <hr class="bigHr">
      <input type="hidden" name="csrf" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
      <div class="form-group">
        <input class="formEntry" name="title" type="text" maxlength="100" placeholder="New note" th:field="${selectedNote.title}" required>
      </div>
      <div class="form-group">
        <label>Description
          <textarea class="formEntry" name="description" rows="8" maxlength="5000" th:field="${selectedNote.text}" required></textarea>
        </label>
      </div>
      <hr class="bigHr">
      <div class="form-group buttonDiv">
        <button type="button" class="overlayButton cancelBtn" onClick="deleteNote()">Delete</button>
        <button type="button" class="overlayButton submitBtn" onClick="unshowNote()">Cancel</button>
        <button type="submit" class="overlayButton notLogout">Save</button>
      </div>
    </form>
  </div>
</div>
<!--/viewNoteOverlay-->
</body>

<!--scripts-->
<script th:inline="javascript" src = "js/script.js" > </script>
<script src = "js/calendarScripts.js" > </script>
<!--/scripts-->
</html>