<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>NotePlan-Login</title>
<!--stylesheet-->
<link rel="stylesheet" href = "css/stylesheet.css">

<!--Bootstrap4-->
<link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!--dark mode stylesheet-->
<link rel="stylesheet" href="css/darkModeStylesheet.css" th:disabled="${theme == 'Light'}">
</head>

<body>
<table id="Navbar">
  <tr>
    <td class="Btn" style="width:20%; font-size: 25px;"><form action="dashboard" method="get">
        <button type="submit" class="button" style="background: none; outline: none;"> NotePlan </button>
      </form></td>
    <td class="Btn" style="width:5%;"><p class="button">Profile </p></td>
    <td class="Btn" style="width:53%;"></td>
    <td class="Btn" style="width:9%;"><a class="button" id="logout" onClick="loadLogoutOverlay()"> Logout </a></td>
    <td class="Btn" style="width:13%;"><form action="profile" method="get" class="profileBtn">
        <button type="submit" th:text="|${user.name}&nbsp;&nbsp;|">Username&nbsp;&nbsp;</button>
        <span id="profileSpan" th:text="${initials}">XY</span>
      </form></td>
  </tr>
</table>
<div id="profileMainContainer">
  <p class="smallText" th:text="${user.name}">Name</p>
  <hr class="bigHr">
  <p class="pHeader">Account details</p>
  <p class="pr" th:text="|Name:&nbsp; ${user.name}|">Name</p>
  <p class="pr" th:text="|Email:&nbsp; ${user.username}|">Email</p>
  <hr style="margin-bottom: 15px; margin-top: 20px;">
  <p class="pHeader">Preferences</p>
  <form action="updatePreferences" method="post" id="updatePreferences">
    <input type="hidden" name="csrf" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <p class="pr">
      <label for="timeFormat">Time format:</label>
      <input type="radio" name="timeFormat" value="24hr" th:checked="${timeFormat == '24hr'}">
      <label for="24hr">&nbsp; 24 hours</label>
      <input type="radio" name="timeFormat" value="12hr" th:checked="${timeFormat == '12hr'}">
      <label for="12hr">&nbsp; 12 hours</label>
    </p>
    <p class="pr">
      <label for="theme">Theme:</label>
      <input type="radio" id="Light" name="theme" value="Light" th:checked="${theme == 'Light'}">
      <label for="light">&nbsp; Light</label>
      <input type="radio" id="Dark" name="theme" value="Dark" th:checked="${theme == 'Dark'}">
      <label for="dark">&nbsp; Dark</label>
    </p>
    <button type="submit" class="overlayButton submitBtn">Update preferences</button>
  </form>
  <hr style="margin-bottom: 15px; margin-top: 20px;">
  <button type="button" class="overlayButton cancelBtn" onClick="loadDeleteOverlay()">Delete Account</button>
</div>
<!--logoutOverlay-->
<div class="overlay" id="logoutOverlay" style="display: none;">
  <div class="overlayMainDiv">
    <p class="smallText" style="font-weight: 100;">Are you sure<br>
      you want to log out?</p>
    <hr class="bigHr">
    <div class="form-group">
      <form action="logout" method="post">
        <input type="hidden" name="csrf" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <button type="submit" class="overlayButton cancelBtn">Logout</button>
        <button type="button" class="overlayButton notLogout" onClick="unloadLogoutOverlay()">Cancel</button>
      </form>
    </div>
  </div>
</div>
<!--/logoutOverlay--> 

<!--deleteOverlay-->
<div class="overlay" id="deleteOverlay" style="display: none;">
  <div class="overlayMainDiv">
    <p class="smallText" style="font-weight: 100; width: 450px;">Are you sure<br>
      you want to delete your account?<br>
      This action cannot be undone</p>
    <hr class="bigHr">
    <div class="form-group">
      <form action="deleteAccount" method="post">
        <input type="hidden" name="csrf" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <button type="submit" class="overlayButton cancelBtn">Delete</button>
        <button type="button" class="overlayButton notLogout" onClick="unloadDeleteOverlay()">Cancel</button>
      </form>
    </div>
  </div>
</div>
<!--/deleteOverlay-->
</body>

<!--scripts-->
<script src = "js/script.js" > </script>
<!--/scripts-->
</html>